body, html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
  box-sizing: border-box;
}

header {
  background: url('../img/first-bg.jpg') no-repeat center top / cover;
  padding-bottom: 160px;
}

.container {
  width: 950px;
  margin: 0 auto;
}

.logo {
  margin-top: 40px;
  float: left;
}

nav {
  float: right;
  margin-top: 40px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 40px;
}

.menu li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.first {
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 160px;
}

h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px;
}

.button {
  background: #fed136;
  color: #484534;
  border-radius: 5px;
  display: block;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

.title {
  text-align: center;
}
.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.title p {
  color: #777777;
  font-size: 16px;
  margin-top: 5px;
}

